# Minimal fragment to enable BusyBox httpd
CONFIG_HTTPD=y
CONFIG_FEATURE_HTTPD_USAGE_FROM_INETD=n
CONFIG_FEATURE_HTTPD_AUTH_BASIC=n
CONFIG_FEATURE_HTTPD_AUTH_MD5=n
CONFIG_FEATURE_HTTPD_ENCODE_URL_STR=y
CONFIG_FEATURE_HTTPD_ERROR_PAGES=y
CONFIG_FEATURE_HTTPD_RANGES=y
CONFIG_FEATURE_HTTPD_SETUID=n
CONFIG_FEATURE_HTTPD_SSL=n
CONFIG_FEATURE_HTTPD_GZIP=n
